@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --red: #ff3838;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
  font-weight: bold;
}

.heading span {
  font-weight: bold;
  color: var(--);
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

.header {

  right: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1.4rem 7%;
  z-index: 999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logoContent {
  display: flex;
  align-items: center;
}
.header .logoContent .logo img {
  height: 4rem;
}

.header .navbar a {
  font-size: 2rem;
  margin-right: 3rem;
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
.header .navbar a:hover {
  border-bottom: 0.2rem solid #666;
  border-top: 0.2rem solid #666;
  padding-bottom: 0.4rem;
  text-transform: var(--red);
}

.mobile-menu{
  float: right;
  display: none;

}
.mobile-menu:hover{
  cursor: pointer;
}
#check{
  display: none;
}
.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background: rgba(16, 47, 80, .9);
  z-index: 1000;
}
.sidebar ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  width: 200px;
}
.sidebar ul li{
  padding: 24px;
  list-style : none;
  transition:  0.3s;
  transition-property:background-color ;
}

.sidebar ul li:hover{
  background-color: #F84744;

}
#check:checked ~ .sidebar{
  left:0;
}


.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: none;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
  text-transform: none;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

.home .content h3 {
  font-size: 5rem;
  color: #333;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
  text-transform: none;
}

#content {
  width: 100%;
}

main {
  padding: 20px;
  overflow: auto;
}

article h2 span {
  text-align: left;
}

article p {
  text-align: justify;
  font-size: 17px;
  text-align: center;
  font-weight: bolder;
}

.card {
  padding: 20px;
  margin: 0 0 20px 0;
}

.featured-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.parallax {
  background-image: url("images/a1.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.parallax h3 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-transform: none;
  padding-left: 30px;
  text-shadow: #000 2px 2px;
  color: #e3bc9a;
  font-size: 25px;
  padding-right: 30px;
  letter-spacing: 2px;
  font-weight: bolder;
}

.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .box-container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.speciality .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.speciality .box-container .box .content img {
  margin: 1.5rem 0;
}

.speciality .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.speciality .box-container .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  text-transform: none;
}

.speciality .box-container .box:hover .image {
  top: 0;
}

.speciality .box-container .box:hover .content {
  transform: translateY(100%);
}

.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .box-container .box {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}

.popular .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popular .box-container .box .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: var(--red);
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popular .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
}

.steps .box {
  flex: 1 1 25rem;
  padding: 1rem;
  text-align: center;
}

.steps .box img {
  border-radius: 50%;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.steps .box h3 {
  font-size: 3rem;
  color: #333;
  padding: 1rem;
}

.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  flex: 1 1 30rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallery .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.gallery .box-container .box .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.gallery .box-container .box:hover .content {
  top: 0;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  background: #333;
  margin-top: 6rem;
}

.review .box-container .box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  font-size: 2rem;
  color: var(--red);
  padding: 0.5rem 0;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  text-transform: lowercase;
}

.parallax1 {
  background-image: url("images/b1.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.parallax1 h3 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-transform: none;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: #000 2px 2px;
  color: #e3bc9a;
  font-size: 50px;
  letter-spacing: 1.5px;
}

.order .row {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 0.5rem;
}

.main-team {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  margin-bottom: -150px;
}
.profile-card {
  position: relative;
  width: 220px;
  height: 170px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  margin: 0 25px;
}
.profile-card:hover {
  border-radius: 10px;
  height: 200px;
}
.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}
.profile-card:hover .img {
  transform: translateY(-60px);
}
.img img {
  width: 100%;
  border-radius: 50%;
  border: solid 5px rgb(249, 206, 158);
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
}
.profile-card:hover img {
  border-radius: 10px;
}
.caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}
.profile-card:hover .caption {
  opacity: 1;
}
.caption h3 {
  font-size: 18px;
}
.caption p {
  font-size: 13px;
  color: #ff676d;
  margin: 2px 0 9px 0;
}
.caption .social-links a {
  color: #333;
  margin-right: 8px;
  font-size: 21px;
  transition: 0.6s;
}
.social-links a:hover {
  color: #ff676d;
}

.order .row .image {
  flex: 1 1 30rem;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 1rem;
}

.order .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form .inputBox select,
.order .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 49%;
}

.order .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

.order .row form .btn {
  background: none;
  margin-right: 10px;
}

.order .row form .btn:hover {
  background: var(--red);
}

.footer {
  background-color: #fff;
  color: #333;
  opacity: 0.6;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
}
.footer .box-container .mainBox .content {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer .box-container .mainBox .content h1 {
  font-size: 2rem;
  color: var(--black);
}
.footer .box-container .mainBox p {
  font-size: 1.7rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
  font-weight: bold;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  text-decoration: none;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
  text-decoration: none;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .share {
  padding: 1rem 0;
  text-align: center;
}
.footer .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  color: var(--white);
  background: var(--black);
  margin: 0 0.3rem;
  border-radius: 50%;
  text-decoration: none;
}
.footer .share a:hover {
  background: var(--white);
  color: #ff676d;
}
.footer .credit {
  font-size: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  color: var(--black);
  text-align: center;
}
#scroll-top {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 4rem;
  background: var(--red);
  color: #fff;
  border-radius: 0.5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem);
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media(max-width:  768px){
  .mobile-menu{
    display: block;
  }
  .header ul{
    display: none;
  }
  .header .navbar a{
    text-decoration: none;
  }
  .team{
    height: 210vh;
  }
  .main-team {
    width: 50%;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .profile-card {
    position: relative;
    align-items: center;
    width: 160px;
    height: 150px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
    margin: 50px 50px;
    justify-content: center;
    
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--red);
    background: #fff;
    text-decoration: none;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }

}

